:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --green-color: #c1dfd9;
  --pink-color: #f3c7b1;
  --accent-color: #f2ad8a;
  --gray-color: #5c5c5c;
  --light-gray-color: #f2f2f1;
  --document-bg-color: #68686850;
  --page-item-bg-color: #f9f9f9;
  --shadow-color: #dcdbdb;
}

dialog {
  border: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

button:hover {
  opacity: 0.9;
}

input,
textarea {
  font-size: 1.5rem;
}

* {
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: var(--light-gray-color);
}

.app {
  width: 100%;
  max-width: 900px;
  height: 100%;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.banner {
  text-align: center;
  background-color: var(--green-color);
}

.banner__title {
  margin: 20px;
  font-size: 2rem;
  color: var(--gray-color);
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.create-button,
.dialog__submit {
  margin: 0.1em 0.2em;
  text-align: center;
  user-select: none;
  padding: 1em 3em;
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--gray-color);
  background-color: var(--pink-color);
  border-radius: 2px;
}

.document {
  height: 100%;
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: 7px;
  scrollbar-color: var(--white-color);
  scrollbar-face-color: var(--pink-color);
}

.document::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--white-color);
  width: 7px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  border-radius: 5px;
  background-color: var(--pink-color);
}

footer {
  text-align: center;
  color: var(--gray-color);
  background-color: var(--green-color);
}

/* -- Dialog -- */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: var(--document-bg-color);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  width: 32em;
  background: var(--white-color);
  border-radius: 0.5rem;
}

.form__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.close {
  align-self: flex-end;
  padding: 0.2rem;
  color: var(--pink-color);
  font-size: 28px;
  font-weight: bold;
  margin: 3px;
  transition: color 250ms ease;
}

.close:hover,
.close:focus {
  transform: scale(1.5);
  color: var(--accent-color);
  text-decoration: none;
}

.dialog__submit {
  align-self: flex-end;
  padding: 0.8em 1.5em;
}

/* -- PAGE ITEM -- */
.page-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
  color: var(--gray-color);
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 2px 2px 6px var(--shadow-color);
}

.page-item__controls {
  padding-right: 0.5em;
}

.page-item__body {
  width: 100%;
}

/* -- Image & Video -- */
.image,
.video {
  display: flex;
  width: 100%;
  height: 250px;
}

.video__player,
.image__holder {
  flex: 60% 1 1;
}

.video__title,
.image__title {
  flex: 40% 1 1;
  margin-left: 0.5em;
}

.video__iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.image__thumnail {
  width: 100%;
  height: 100%;
}

/* -- Note -- */
.note {
  padding: 0.5em;
}

/* -- TODO -- */
.todo {
  padding: 0.5em;
}

.todo-label {
  padding: 1em;
}

/* -- Drag and Drop -- */
/* mute-children 안에 있는 모든 태그들의 포인터 이벤트를 none으로 설정 => 하지만 클래스 다음에 모든 태그를 선택하는 건 썩 좋지 않다. */
.mute-children * {
  pointer-events: none;
}
