:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --green-color: #c1dfd9;
  --pink-color: #f3c7b1;
  --gray-color: #5c5c5c;
  --light-gray-color: #f2f2f1;
  --document-bg-color: #68686850;
}

* {
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: var(--light-gray-color);
}

dialog {
  border: 0;
}

li {
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.app {
  width: 100%;
  max-width: 900px;
  height: 100%;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.banner {
  text-align: center;
  background-color: var(--green-color);
}

.banner__title {
  margin: 20px;
  font-size: 2rem;
  color: var(--gray-color);
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.create-button {
  margin: 0.1em 0.2em;
  text-align: center;
  user-select: none;
  padding: 1em 3em;
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--gray-color);
  background-color: var(--pink-color);
  border-radius: 2px;
}

.document {
  height: 100%;
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--white-color);
  scrollbar-face-color: var(--pink-color);
}

.document::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--white-color);
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  border-radius: 3px;
  background-color: var(--pink-color);
}

footer {
  text-align: center;
  color: var(--gray-color);
  background-color: var(--green-color);
}

/* -- Dialog -- */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: var(--document-bg-color);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  width: 32em;
  background: var(--white-color);
  border-radius: 0.5rem;
}
